body {
   font-family: 'Press Start 2P', cursive;
	padding:0;
	margin:0;
}

.col {
	margin-left: 1%;
}

@for $i from 2 through 11 {
	.span#{$i} {
		$x : 12/$i;
		width: ((100-$x+1)/$x)*1%;
	}
}

.span12 {
	width:100%;
}
.table {
	display:table;
}
.vertical-align {
	vertical-align:middle;
	text-align:center;
	display:table-cell;
}
section.welcome {
	background-color: black;
	width:100vw;
	height:100vh;
	.wrapper {
		width:900px;
		margin:0 auto;
		height:100%;
	}
	
	.text-content h1 {
		color:#ffffff;
		line-height: 2em;
	}
}
section.footer{	
	position:fixed;
	bottom:25px;
	left:0;
	width:100%;
	h4, h6 {
		display:inline-block;
		float:left;
		color:white;
		padding-top:53px;
		margin: 0 20px;

	}
	.wrapper {
		width:1400px;
		margin:0 auto;
	}
	.arrow, .enter {
		float:left;
		height:auto;
	}
	.enter {
		max-width: 105px;
		padding-top:35px;
	}
	.arrow {
		max-width:35px;
		padding-top:25px;
	}
}